.profile__image {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 29px 0 0;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}

.profile__image::before {
  display: flex;
  position: absolute;
  inset: 0;
  justify-content: center;
  align-items: center;
  content: '';
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.profile__image:hover::before {
  opacity: 1;
  visibility: visible;
}

.profile__image::after {
  display: grid;
  position: absolute;
  inset: 0;
  place-self: center;
  content: '';
  width: 26px;
  height: 26px;
  z-index: 1;
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 26 26'%3e%3cpath fill='%23fff' d='M26 3.454 6.77 22.794 3.336 19.29 22.517 0zM0 26l5.102-1.53-3.581-3.453z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.profile__image:hover::after {
  opacity: 1;
  visibility: visible;
}
