@import url('/blocks/card/__description/card__description.css');
@import url('/blocks/card/__image/card__image.css');
@import url('/blocks/card/__like-button/card__like-button.css');
@import url('/blocks/card/__like-button/_is-active/card__like-button_is-active.css');
@import url('/blocks/card/__delete-button/card__delete-button.css');
@import url('/blocks/card/__title/card__title.css');

.card {
  font-family: 'Inter', Arial, sans-serif;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
